@page
@model FastCreditWebApp.Pages.UserManagement.AdduserModel
@{
    Layout = "~/Pages/Shared/_LayoutA.cshtml";
}



<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-header">
                            <strong>Register User</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                <div class="card">
                                    <div class="col-md-12 col-md-offset-2">

                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="@Model.CUserRequestFE.FirstName" class="control-label"></label>
                                            </div>
                                            <div class="col-md-7">
                                                <input asp-for="@Model.CUserRequestFE.FirstName" class="form-control" />
                                                <span asp-validation-for="@Model.CUserRequestFE.FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="@Model.CUserRequestFE.LastName" class="control-label"></label>
                                            </div>
                                            <div class="col-md-7">
                                                <input asp-for="@Model.CUserRequestFE.LastName" class="form-control" />
                                                <span asp-validation-for="@Model.CUserRequestFE.LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="@Model.CUserRequestFE.PhoneNumber" class="control-label"></label>
                                            </div>
                                            <div class="col-md-7">
                                                <input asp-for="@Model.CUserRequestFE.PhoneNumber" class="form-control" />
                                                <span asp-validation-for="@Model.CUserRequestFE.PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="@Model.CUserRequestFE.Gender" class="control-label"></label>
                                            </div>
                                            <div class="col-md-7">
                                                <select asp-for="@Model.CUserRequestFE.Gender" asp-items="@Model.Genders" class="form-control">
                                                    <option value="">Select Gender</option>
                                                </select>
                                                                                               
                                                <span asp-validation-for="@Model.CUserRequestFE.Gender" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="@Model.CUserRequestFE.DateOfBirth" class="control-label"></label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="date" asp-for="@Model.CUserRequestFE.DateOfBirth" class="form-control" />
                                                <span asp-validation-for="@Model.CUserRequestFE.DateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="@Model.CUserRequestFE.EmailAddress" class="control-label"></label>
                                            </div>
                                            <div class="col-md-7">
                                                <input asp-for="@Model.CUserRequestFE.EmailAddress" class="form-control" />
                                                <span asp-validation-for="@Model.CUserRequestFE.EmailAddress" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="@Model.CUserRequestFE.Nationality" class="control-label"></label>
                                            </div>
                                            <div class="col-md-7">
                                               <select asp-for="@Model.CUserRequestFE.Nationality" asp-items="@((List<SelectListItem>)ViewData["Project"])" class="form-control">
                                                    <option value="">Select Nationality</option>
                                                </select>
                                                <span asp-validation-for="@Model.CUserRequestFE.Nationality" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-7">
                                                <select asp-for="@Model.CUserRequestFE.RoleId" asp-items="@((List<SelectListItem>)ViewData["Roles"])" class="form-control">
                                                    <option value="">Select Role</option>
                                                </select>
                                                <span asp-validation-for="@Model.CUserRequestFE.RoleId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-2 col-md-offset-2">
                                            <div class="form-group">
                                                <input type="submit" value="Comfirm" class="btn btn-primary" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






       
